<div class="row personal-loan-header">
    <div class="col-md-6 my-4 p-4 Emi-Calc-div">
        <h1 class="text-center">Personal Loan Emi Calculator</h1>
        <div class="row slider-con my-4 text-center ">
            <div class="col-md-4"> <p>Loan Amount</p>
             <span class="bg-light  text-success fw-bold fs-5 px-4 rounded-pill">{{valueLA ? valueLA : '000'}}</span>&nbsp;&nbsp;₹ &nbsp;
            <!-- <input type="number" class="form-control ms-2 text-center" maxlength="7"  value=75000 name="loanAmount" id="" [(ngModel)]="loanAmount.value" > -->
                <mat-slider
  thumbLabel
  [displayWith]="formatLabel"
  tickInterval="100000"
  step="500"
  min="75000"
  max="3500000"
  aria-label="units" #loanAmount (valueChange)="onLoanAmountChange(loanAmount.value) " (valueChange)="EmiCalculator()"></mat-slider>&nbsp;₹
                 </div>
            <div class="col-md-4 text-light"> <p>Rate of Intrest</p>
                &nbsp;<span class="bg-light text-success fw-bold fs-5 px-4 rounded-pill">{{valueR? valueR : 0|number :'1.2-2'}}</span>&nbsp;&nbsp;% 
                <!-- <input type="number" class="form-control text-center" maxlength="5" value=10.99 name="Roi" id="" [(ngModel)]="Roi.value" > -->

                <mat-slider 
  thumbLabel
  [displayWith]="formatLabel"
  tickInterval="1"
  step="0.05"
  min="10.99"
  max="19"
  aria-label="units"#Roi (valueChange)="onRoiChange(Roi.value)" (valueChange)="EmiCalculator()"></mat-slider>&nbsp;%
            </div>
            <div class="col-md-4"> <p>Loan Duration</p>
                 &nbsp;<span class="bg-light text-success fw-bold fs-5 px-4 rounded-pill">{{valueM ? valueM : 0}}</span>&nbsp;&nbsp;MO 
                <!-- <input type="number" class="form-control text-center" maxlength="2" value=12 name="months" id="" [(ngModel)]="months.value"> -->
                <mat-slider
                thumbLabel
                [displayWith]="formatLabel"
                tickInterval="1"
                step="1"
                min="12"
                max="72"
                aria-label="units" #months (valueChange)="onMonthChange(months.value)"(valueChange)="EmiCalculator()"></mat-slider>&nbsp;MO
            </div>
        </div>
        <div class="row p-4 bg-light text-dark rounded-2 ms-2 Emi-con ">
            <div class="col-md-4 ">
               <p class="fw-bold fs-5"> EMI Amount:</p>
            </div>
            <div class="col-md-4">
                <span class="fw-bold fs-5">{{Emi | number :'1.2-2'}}</span>
             </div>
            <div class="col-md-4">
                <button mat-flat-button routerLink="apply-now-personal">Apply now</button>
             </div>
    </div>
  
  
        

    </div>
   
</div>

<div class="container">
    <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>WHAT IS A PERSONAL LOAN?</mat-card-title>
       
         
        </mat-card-title-group>
        <div class="d-flex p-3">
         
            <mat-card-content>
              {{longText}}
            </mat-card-content>&nbsp;
            <img mat-card-xl-image src="../../assets/images/personal_loan-side.jpg" >
        </div>
      
      </mat-card>
</div>