.mat-stepper-vertical {
    margin-top: 1rem;
  }
  
  .mat-form-field {
    width: 25% !important;
    margin-top: 1.6rem;
    margin-left: 2rem;
  }

  .Track-con{
    margin-left: 40%;
    margin-top: 6%;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 1.6rem;
    margin-bottom: 1.7rem;
  }

  #skiplink{
    cursor: pointer;
   
    margin-top: 3rem !important;
    margin-bottom: 3rem !important
    ;
  }
  .existing-customer-step{
    display: flex !important;;
    justify-content: center !important;
    align-items: center !important;
    padding: 2rem !important;
    flex-direction: column !important;

    
  }