

  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <span class="example-spacer1" routerLink="personal-loans">Personal Loans</span>
      <span class="example-spacer1">Home loans</span>
      <span class="example-spacer1">Business Loans</span>
      <span class="example-spacer1">Loan Against Property</span>
      <span class="example-spacer1">Loan Against Securities</span>
      <span class="example-spacer1">Vehical Loans</span>
      <span class="example-spacer1">More+</span>
 
     
    </mat-toolbar>
  </p>
  
 